<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
    </settings>

    <typeAliases>
        <typeAlias alias="Board" type="com.misonamoo.niaportal.domain.Board" />
        <typeAlias alias="BoardParameter" type="com.misonamoo.niaportal.domain.BoardParameter" />
        <typeAlias alias="userVO" type="com.misonamoo.niaportal.vo.UserVO" />
        <typeAlias alias="hashMap" type="java.util.HashMap" />
    </typeAliases>
</configuration>